# this is nothing a copy of env file with out the personal info just to know what are the tings are there in the .env file
# since we are creating using vite we have use VITE_ and import.metat.env (read doc)
VITE_APPWRITE_URL=""
VITE_APPWRITE_PROJECT_ID=""
VITE_APPWRITE_DB_ID=""
VITE_APPWRITE_COLLECTION_ID=""
VITE_APPWRITE_BUCKET_ID=""